<main>
	<div id="column-left">
		{% if product.images.size > 0%}	
			<img src="{{ imgae | product_img_url: '480x480', scale:2, crop:'center'}}" alt="{{product.title | escape }}" />
		{% endif %}
	</div>
</main>